<!-- Giriş yapmamış kullanıcı için buton -->
@if (!isAuthenticated) {
    <button mat-stroked-button (click)="signIn()" class="!h-9 !px-4">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'" class="!h-4 !w-4 mr-1"></mat-icon>
        <span>Giriş Yap</span>
    </button>
}

<!-- Giriş yapmış kullanıcı için menü -->
@if (isAuthenticated) {
    <button mat-icon-button [matMenuTriggerFor]="userActions">
        <span class="relative">
            @if (showAvatar && user?.avatar) {
                <img class="h-7 w-7 rounded-full" [src]="user.avatar" />
            }
            @if (!showAvatar || !user?.avatar) {
                <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            }
            <span
                class="absolute bottom-0 right-0 h-2 w-2 rounded-full"
                [ngClass]="{
                    'mb-px mr-px': !showAvatar || !user?.avatar,
                    'bg-green-500': user?.status === 'online',
                    'bg-amber-500': user?.status === 'away',
                    'bg-red-500': user?.status === 'busy',
                    'bg-gray-400': user?.status === 'not-visible',
                }"
            ></span>
        </span>
    </button>

    <mat-menu [xPosition]="'before'" #userActions="matMenu">
        <button mat-menu-item>
            <span class="flex flex-col leading-none">
                <span>Giriş yapıldı</span>
                @if (user?.name) {
                    <span class="mt-1.5 text-md font-medium">{{ user.name }}</span>
                }
            </span>
        </button>
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item>
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            <span>Profil</span>
        </button>
        <button mat-menu-item routerLink="/degerlemelerim">
            <mat-icon [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
            <span>Değerlemelerim</span>
        </button>
        <button mat-menu-item>
            <mat-icon [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
            <span>Randevularım</span>
        </button>
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item (click)="signOut()">
            <mat-icon
                [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
            ></mat-icon>
            <span>Çıkış Yap</span>
        </button>
    </mat-menu>
}
